/* border-box hack */ 
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit; 
}

/* aquino's special sauce*/ 
html, body {
    margin: 0px;
    padding: 0px; 
    height: 100%; 
    width: 100%;
}
/* Navbar Logo */
.ig-navbar {
    /* outline: 1px solid red; */
    display: flex;
    margin: 1px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.ig-logo {
    /* outline: 1px solid cornflowerblue; */
    justify-content: space-around;
    flex-direction: row;
    margin: 5px;
    padding: 5px;
}
.fab {
    /* outline: 1px solid green; */
    font-size: 30px;
    margin: 5px;
    padding: 0 10px 0 10px; 
}
.split {
    background-color: #262626;
    height: 28px;
    margin: 0 16px;
    width: 1px;
}
.logo-text {
    /* outline: 1px solid black; */
    margin: 0 10px 0 10px;
    padding: 0 5px 0 5px;
}
.features {
    /* outline: 1px solid orange; */
    /* margin: 5px; */
    /* padding: 7px; */
    flex-direction: row;
    justify-content: space-around;
    font-size: 22px;

}
.fa-compass {
    /* outline: 1px solid red; */
    /* font-size: 22px; */
    /* margin-left: 10px; */
    /* margin:0 20px 0 20px; */
    padding-left: 15px;
}
.fa-heart {
    /* outline: 1px solid red; */
    padding-left: 15px;
    /* margin:0 10px 0 10px; */
}
.fa-user {
    /* outline: 1px solid red; */
    padding-left: 15px;
    /* margin:0 10px 0 10px; */

}





/* Image Feed  */

.thumbnail-container {
    /* outline: 1px solid red; */
    display: flex;
    flex-wrap: wrap; 
    /* space-* distribures leftover space */
    justify-content: flex-start;
    /* margin: 100px; */
    margin-left: 100px;
    margin-right: 100px;
}
/* begin "picture frame" technique to resize images */
.thumbnail-item {
    /* 1. controls the size of image */
    height: 293px;
    width: 30%;
    margin-top: 19px;
    margin-left: 24px;
    margin-bottom: 19px;
    /* outline: 1px solid blue; */
    /* align-content: center; */
    
    /* alternative to using
    flexbox for centering 
    of images or text. */
    
    /* text-align: center; */
}
.thumbnail-item > img {
    /* the img adapts to its parent */
    /* definitely, absolutely use moth max-height and max-width */
    max-height: 100%; 
    max-width: 100%;
    /* outline: 2px solid orange; */
    /* object-fit: contain; */

}
/* end "picture-frame" technique to rezise images */
.picture-frame {
    width: 75%;
    /* outline: 1px solid red; */
    margin: 0 auto;
    text-align: center; 
}
.picture-frame > img {
    /* the img adats to its parent */
    /* definitely, absolutely use both max-height and max-width */
    max-height: 100%; 
    max-width: 100;
}
img {
    height: 650px; 
    width: 1000px;
}
.modal {
    /* 
    - cover the whole page
    - put a see-through gray color on top of the page    
    -center the content
    */

    /* 
    To make things overlap, use position: absolute
    Allow you to set coordinates for where exactly
    you want the place an element
    */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 75%;
    /* border: 5px solid red; */
    background-color: rbga(0, 0, 0, 0.5);

    display: flex; 
    justify-content: center; 
    align-items: center;
}

.modal-hidden {
    display: none;
}