/* border-box hack */ 
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit; 
}

/* aquino's special sauce*/ 
html, body {
    margin: 0px;
    padding: 0px; 
    height: 100%; 
    width: 100%;
}
.thumbnail-container {
    outline: 1px solid red;
    display: flex;
    flex-wrap: wrap; 
    /* space-* distribures leftover space */
    justify-content: flex-start;
    /* margin: 100px; */
    margin-left: 100px;
    margin-right: 100px;
}
/* begin "picture frame" technique to resize images */
.thumbnail-item {
    /* 1. controls the size of image */
    height: 293px;
    width: 30%;
    margin-top: 19px;
    margin-left: 24px;
    margin-bottom: 19px;
    outline: 1px solid blue;
    /* align-content: center; */
    
    /* alternative to using
    flexbox for centering 
    of images or text. */
    
    /* text-align: center; */
}
.thumbnail-item > img {
    /* the img adapts to its parent */
    /* definitely, absolutely use moth max-height and max-width */
    max-height: 100%; 
    max-width: 100%;
    outline: 2px solid orange;
    /* object-fit: contain; */

}
/* end "picture-frame" technique to rezise images */
.picture-frame {
    width: 75%;
    /* outline: 1px solid red; */
    margin: 0 auto;
    text-align: center; 
}
.picture-frame > img {
    /* the img adats to its parent */
    /* definitely, absolutely use both max-height and max-width */
    max-height: 100%; 
    max-width: 100;
}
.modal {
    /* 
    - cover the whole page
    - put a see-through gray color on top of the page    
    -center the content
    */

    /* 
    To make things overlap, use position: absolute
    Allow you to set coordinates for where exactly
    you want the place an element
    */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 100%;
    /* border: 5px solid red; */
    background-color: rbga(0, 0, 0, 0.7);

    display: flex; 
    justify-content: center; 
    align-items: center;
}

.modal-hidden {
    display: none;
}